:root {
  --lime: #cf5;
  --lightlime: #f4ffdd;
  --black: #000;
  --white: #fff;
  --gray: #aaa;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

/* Navigation Bar */

#header {
  background-color: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#header-img {
  width: 4rem;
  padding-top: 0.5rem;
}

.nav-link,
.nav-link:visited {
  background-color: var(--black);
  color: var(--lime);
  padding: 1.5rem 2.5rem;
  display: block;
  transition: background-color 0.5s, color 0.5s;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  background-color: var(--lime);
  color: var(--black);
  outline: none;
}

@media screen and (min-width: 600px) {
  #header {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  #header-img {
    margin-left: 1.5rem;
  }
  #header ul {
    display: flex;
  }
}

/* Hero */

.hero {
  margin: 10rem 2.5rem 5rem 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 2.6rem;
  font-weight: 700;
}

#email {
  width: 33rem;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid var(--gray);
  border-radius: 5px;
  outline-color: var(--lime);
  display: block;
}

::placeholder {
  color: var(--gray);
  opacity: 1;
}
::-ms-input-placeholder {
  color: var(--gray);
}

/* Buttons */

.button {
  background-color: var(--black);
  color: var(--lime);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;
  margin: 2.2rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--lime);
  color: var(--black);
  outline: none;
}

/* Features */

.features-container {
  margin: 5rem 2.5rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
}

.feature-icon {
  font-size: 6rem;
  color: var(--lime);
  justify-self: center;
  margin-top: 1.5rem;
}

.icon-transform {
  transition: transform 1s;
}

.icon-transform:hover,
.icon-transform:focus {
  transform: rotate(360deg) scale(1.2, 1.2);
}

.feature-text {
  text-align: center;
  margin-bottom: 2.5rem;
}

.feature-text h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .features-container {
    grid-template-columns: 1fr 4fr;
    margin: 5rem 12.5rem;
  }
  .feature-icon {
    margin-right: 2.5rem;
  }
  .feature-text {
    text-align: initial;
    margin-bottom: 5rem;
  }
}

/* Video */

#howitworks {
  margin: 5rem 2.5rem;
  display: flex;
  justify-content: center;
}

#video {
  width: 56rem;
  height: 31.5rem;
  margin: 5rem 0;
  border: 2px solid var(--gray);
}

/* Cards */

.cards-container {
  margin: 5rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: var(--lightlime);
  width: 33rem;
  margin: 2.5rem;
  border: 2px solid var(--black);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.card:hover,
.card:focus {
  transform: scale(1.1, 1.1);
}

.card-header {
  background-color: var(--lime);
  width: 100%;
  padding: 2.2rem;
  text-align: center;
}

.card-header,
.card h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

.card ul {
  font-size: 1.6rem;
  font-weight: 400;
}

.card li {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cards-container {
    margin: 5rem;
  }
  .card {
    margin: 2.5rem;
  }
}

/* Footer */

#footer {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
}

#footer ul {
  display: flex;
  justify-content: center;
}

.footer-link,
.footer-link:visited {
  color: var(--white);
  margin: 1rem;
  display: block;
  transition: color 0.5s;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: var(--lime);
}

#footer p {
  text-align: center;
  margin: 0;
}
